<div class="toolbar-wrapper">
  <nav>
    <ul>
      <li>
        <a routerLink="/database/clients"><mat-icon>supervisor_account</mat-icon></a>
        <p>clients</p>
      </li>
      <li>
        <a routerLink="/database/products"><mat-icon>payment</mat-icon></a>
        <p>payment</p>
      </li>
      <li>
        <a routerLink="/database/suppliers"><mat-icon>drive_eta</mat-icon></a>
        <p>suppliers</p>
      </li>
      <li>
        <a routerLink="/database/workers"><mat-icon>work</mat-icon></a>
        <p>workers</p>
      </li>
    </ul>
  </nav>
</div>
