<div>
  <h2>{{this.currentTable}}</h2>
  <table mat-table [dataSource]="tableData">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
      <td mat-cell *matCellDef="let row"> {{ formatCell(row[column], column) }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
<div *ngIf="!tableData">
  Нет данных для отображения
</div>
